__pycache__/
.pytest_cache/
*.pyc
.env
venv/
.idea/
.vscode/
models/*.zip
config.json

# Cypress
cypress/screenshots
cypress/videos
cypress/downloads
cypress.env.json
node_modules/
package-lock.json
replays/