services:
  pbwizard:
    build: .
    devices:
      - /dev/video0:/dev/video0
      - /dev/gpiomem:/dev/gpiomem
    ports:
      - "${FLASK_PORT}:${FLASK_PORT}"
    volumes:
      - .:/app
    env_file:
      - .env
    privileged: true

  test:
    profiles: [ "test" ]
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    command: python -m unittest discover tests
